.sidebar {
  width: 160px;
  background-color: #524e4e;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  height: 100vh;
  position: fixed;
  top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #d4b3b3;
}

img{
  height: 20px;
  margin-left: 20px;
}

#logoutbtn{
  margin-left: 5%;
  padding: 4px;
  background-color: red;
  border-radius: 8px;
  width: 90%;
}